@import "./checkhField/checkField.scss";

.checkbox-list-wrapper {
    position: relative;
    width: auto;
    height: auto;    
}
.checkbox-list{
    &__head{
        @include flexVertCenter();
        justify-content: space-between;
        height: 44px;
        &-heading {
            font-family: Montserrat-Bold;
            text-transform: uppercase;
            margin-bottom:0;
        }
        &-arrow {
            width: 44px;
            height: 44px;
            text-align: center;
            vertical-align: middle;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            line-height: 24px;
            transition: all .1s linear;
            @media screen and (max-width:1199px) and (min-width:960px){
                height: 39px;
            }
            &-icon{
                line-height: 44px;
                color:$darkShade75;
                @media screen and (max-width:1199px) and (min-width:960px){
                    line-height: 39px;
                }
            }
            &-rotated {
                transform: rotate(180deg);
            }
        }
    }
    &__list {
        display: none;
        position: relative;
        top: 0px;
        opacity: 0;
        transition: all .1s linear;
        &-item {
            @include flexVertCenter();
            height: 20px;
            margin-bottom: 11px;
        }
        &__opened {
            position: relative;
            top: 4px;
            opacity: 1;
        }
    }
    &__item-description {
        @include Montserrat();
        color: $darkShade50;
        width: 236px;
        @media screen and (max-width:899px) and (min-width:768px){
            font-size:12px;
        }
    }
}