@import "./active/wrapper-active";
@import "./__button/button.scss";

.borderedBtn-wrapper{
    height:100%;
    width:100%;
    border-radius:22px;
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    cursor: pointer;
    transition:all .1s linear;
    @include flexAllCenter();
}
.borderedBtn__button{
    height:90%;
    width:95%;
    @include flexAllCenter();
    text-transform: uppercase;
    @include MontserratBold();
    border-radius:22px;
    line-height: 15px;
    background: #fff;
    color:$purple;    
}