@import "./active/button-active";
@import "./focus/button-focus";
.button{
    height:100%;
    width:100%;
    padding:0 20px;
    cursor: pointer;
    transition:all .1s linear;
    border:none;
    @media screen and (min-width:900px) and (max-width:1199px) {
        font-size:10px;
    }
    @media screen and (min-width:768px) and (max-width:899px) {
        font-size:9px;
    }
}