@import "./checkhField/checkField";

.richCheckBox-wrapper{
    width:auto;
}
.richCheckBox{
    &__heading{
        text-transform: uppercase;
        font-family: Montserrat-Bold;
        margin-bottom:16px;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        margin-bottom:10px; 
        &-description{
            width:236px;
        }  
    }
    &__description{
        &-heading{
            @include MontserratBold();
            font-size:14px;
            color:$darkShade75;
            margin-bottom:5px;
            text-transform: none;
            line-height: 18px;
            @media screen and (max-width:899px) and (min-width:768px){
                font-size:12px;
            }
        }
        &-text{
            @include Montserrat();
            font-size:12px;
            color:$darkShade50;
            line-height: 15px;
        }
    }
}