include ./checkhField/checkField.pug
mixin richCheckboxBtns(arr, name, text)
		.richCheckBox-wrapper
			h3.richCheckBox__heading #{text}
			.richCheckBox__items
				each el in arr
					.richCheckBox__item
						+checkField(el.checkProps, name)
						.richCheckBox__item-description
							h3.richCheckBox__description-heading #{el.head}
							p.richCheckBox__description-text #{el.text}