
include ../utils/mixins
block variables

doctype html
html(lang='en')
	head
		title #{title}
		meta(charset='utf-8')
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
	body