
include ../utils/mixins
block variables
	- var headerNav = [{name:'О нас', submenu:false},{name:'Услуги', submenu:true},{name:'Вакансии', submenu:false},{name:'Новости', submenu:false},{name:'Соглашения', submenu:true}]

doctype html
html(lang='en')
	head
		title #{title}
		meta(charset='utf-8')
		meta(content="width=device-width, initial-scale=1" name="viewport")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
		//- link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet")
	body
		+header(false, headerNav, '','Войти', 'Зарегистрироваться')