@import "./active/active";
@import "./hover/hover";

.textBtn__button{
    text-decoration: none;
    @include MontserratBold();
    text-transform: uppercase;
    color:$darkShade50;
    transition: all .1s linear;
}