mixin calendar()
	.calendar
		.calendar-wrapper
			.calendar-heading
				.calendar-heading-arrow
					i.material-icons.calendar-heading-arrow-left  arrow_back
				h2.calendar-heading-title 
					span.calendar-month  
					span.calendar-year  
				.calendar-heading-arrow 
					i.material-icons.calendar-heading-arrow-right arrow_forward
			table.calendar-table
				thead.calendar-table-head
					tr
						th Пн
						th Вт
						th Ср
						th Чт
						th Пт
						th Сб
						th Вс
				tbody.calendar-table-body
					
					
			.calendar-buttons
				.calendar-clear
					+textBtn('очистить', 'textBtn') 
				.calendar-confirm
					+textBtn('применить',  'textBtn textBtn__purple')  