@import "./active/active";
@import "./focus/focus";

.filledBtn--button{
    height:100%;
    width: 100%;    
    padding:0 19px;
    text-transform: uppercase;
    @include MontserratBold();
    border:none;
    border-radius:22px;
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    color:#fff;
    cursor: pointer;
    transition:all .1s linear;
}