@import "./active/active";
@import "./focus/focus";
@import "./__button/button";


.filledBtn{ 
    text-transform: uppercase;
    line-height: 15px;
    @include MontserratBold();
    border-radius:22px;
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    color:#fff;
}