block variables
	- var title = 'Cards'
	- var radioBtns = [{val:'Мужчина', param:{name:'man', val:'Мужчина'}}, {val:'Женщина', param:{name:'woman', val:'Женщина'}}]
include ../includes/header.pug


.wrapper
	.column
		+findForm()
		+regForm()
	.column
		+roomCard()
		+enterForm()
	.column
		+calendar()
		+roomDescr('./assets/img/room1.jpg', '888', '145', 'люкс')
		+roomDescr('./assets/img/room2.jpg', '840', '65')