extends ../layout/main.pug
block variables
	- var title = 'room details'
	- var headerNav = [{name:'О нас', submenu:false},{name:'Услуги', submenu:true},{name:'Вакансии', submenu:false},{name:'Новости', submenu:false},{name:'Соглашения', submenu:true}]
	- var footerNav = [{heading: 'Навигация', items:['О нас', 'Новости', 'Служба поддержки', 'Услуги']}, {heading: 'О нас', items:['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']},{heading: 'Служба поддержки', items:['Соглашения', 'Сообщество', 'Связь с нами']}]
	- var advantages = [{img: 'insert_emoticon', heading: 'Комфорт', text: 'Шумопоглощающие стены'}, {img: 'location_city', heading: 'Удобство', text: 'Окно в каждой из спален'}, {img: 'whatshot', heading: 'Уют', text: 'Номер оснащён камином'}]
	- var impressions = ['Великолепно', 'Хорошо', 'Удовлетворительно', 'Разочарован']
	- var bullets =  [{text:'Нельзя с питомцами'}, {text: 'Без вечеринок и мероприятий'}, {text: 'Время прибытия — после 13:00, а выезд до 12:00'}]

block content
	main.roomDetails-main
		.main__room-pictures
			.room-pictures__big
				img.room-pictures__big-item(src="./assets/img/roomPic1.jpg", alt="")
			.room-pictures__small
				img.room-pictures__small-item(src="./assets/img/roomPic2.jpg", alt="")
				img.room-pictures__small-item(src="./assets/img/roomPic3.jpg", alt="")
		.main__details
			.details-information
				.details-information__roomAndImpressions
					.roomAndImpressions__roomDetails
						h2.roomAndImpressions__roomDetails-heading Сведения о номере
						.roomAndImpressions__roomDetails-info
							+advantages(advantages)
					.roomAndImpressions__impressions
						h2.impressions__heading Впечатления от номера
						.impressions__info
							.impressions__info-diagramm
								.impressions__info-diagramm-left-side
									svg(width="59" height="120" viewBox="0 0 59 120" fill="none" xmlns="http://www.w3.org/2000/svg")
										circle( cx="60" cy="60" r="58" stroke="url(#paint0_linear_diag_circle)" stroke-width="4")
										defs
											linearGradient(id="paint0_linear_diag_circle" x1="60" y1="0" x2="60" y2="120" gradientUnits="userSpaceOnUse")
												stop(stop-color="#FFE39C")
												stop(offset="1", stop-color="#FFBA9C")
								.impressions__info-diagramm-right-side
									svg.purple-quad( width="59" height="59" viewBox="0 0 59 59" fill="none" xmlns="http://www.w3.org/2000/svg")
										circle(cx="-1" cy="60" r="55" stroke="url(#paint0_linear_quart)" stroke-width="10")
										defs
											linearGradient(id="paint0_linear_quart" x1="-1" y1="0" x2="-1" y2="120" gradientUnits="userSpaceOnUse")
												stop(stop-color="#BC9CFF")
												stop(offset="1" stop-color="#8BA4F9")
									svg.green-quad( width="59" height="59" viewBox="0 0 59 59" fill="none" xmlns="http://www.w3.org/2000/svg")
										circle(cx="-1" cy="-1" r="58" transform="rotate(90 -1 -1)" stroke="url(#paint0_linear_quart1)" stroke-width="4")
										defs
											linearGradient(id="paint0_linear_quart1" x1="-1" y1="-61" x2="-1" y2="59" gradientUnits="userSpaceOnUse")
												stop(stop-color="#6FCF97")
												stop(offset="1" stop-color="#66D2EA")
								.impressions__info-diagramm-description 
									span.impressions__info-diagramm-description-num 260 
									p.impressions__info-diagramm-description-text голосов
							ul.impressions__info-list
								- for(let i = 0; i < 4; i++)
									li.impressions__info-list-item #{impressions[i]}
				.details-information__feedback
					.feedback__head
						h2.feedback__head-heading Отзывы посетителей номера
						p.feedback__head-text 2 отзыва
					.feedback__comment
						+comment('./assets/img/image.png', 'Мурад Сарафанов', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', 12) 
					.feedback__comment
						+comment('./assets/img/comment.png', 'Патрисия Стёклышкова', 'Неделю назад', 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент', 2) 
				.details-information__rulesAndcancel
					.rulesAndcancel__rules
						h2.rules__heading Правила
						.rules__bullets
							+bulletList(bullets)
					.rulesAndcancel__cancel
						h2.cancel__heading Отмена
						p.cancel__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
			.details-card
				+roomCard()