block variables
	- var title = 'uikit';
	- var chckBox = [{val:'Завтрак', checkProps:{name:'breakfast', val:'Завтрак'}}, {val:'Письменный стол', checkProps:{name:'table', val:'Письменный стол'}}, {val:'Стул для кормления', checkProps:{name:'feedChair', val:'Стул для кормления'}}, {val:'Кроватка', checkProps:{name:'litlleBad', val:'Кроватка'}}, {val:'Телевизор', checkProps:{name:'tv1', val:'Телевизор'}}, {val:'Шампунь', checkProps:{name:'schampoo1', val:'Шампунь'}}, {val:'Телевизор', checkProps:{name:'tv2', val:'Телевизор'}}, {val:'Шампунь', checkProps:{name:'schampoo2', val:'Шампунь'}}]
	- var chckBtns = [{val:'Можно курить', checkProps:{name:'smoke', val:'Можно курить'}}, {val:'Можно с питомцами', checkProps:{name:'pets', val:'Можно с питомцами'}}, {val:'Можно пригласить гостей (до 10 человек)', checkProps:{name:'guests', val:'Можно пригласить гостей (до 10 человек)'}}]
	- var radioBtns = [{val:'Мужчина', param:{name:'man', val:'Мужчина'}}, {val:'Женщина', param:{name:'woman', val:'Женщина'}}]
	- var richCheckbox = [{name:'wide', value:'wide', head:'Широкий коридор', text:'Ширина коридоров в номере не менее 91 см.', checkProps:{name:'wide', val:'wide'}}, {name:'helper', value:'helper', head:'Помощник для инвалидов', text:'На 1 этаже вас встретит специалист и проводит до номера.',checkProps:{name:'helper', value:'helper'}}]
	- var bullets = [{text:'Нельзя с питомцами'}, {text: 'Без вечеринок и мероприятий'}, {text: 'Время прибытия — после 13:00, а выезд до 12:00'}]
	- var advantages = [{img: 'insert_emoticon', heading: 'Комфорт', text: 'Шумопоглощающие стены'}, {img: 'location_city', heading: 'Удобство', text: 'Окно в каждой из спален'}]
	
include ../includes/header.pug
+logoGrey()
label Text field
+textInput('Email')
br
label dropdown
+dropdown(3, 'взрослые', 'дети', 'младенцы')
br
label Masked text field
+maskedText()
br
label date dropdown
+date('Date dropdown', 'Date dropdown')
br
label filter date dropdown
+dateFilter()
label subscribe text field
+subscrTextField('Email')
br
label checkbox buttons
+checkBoxBtns(chckBtns, 'checkBoxButtons')
br
label expandable checkbox
+checkboxList(chckBox, 'list')
br
label radio buttons
+radioBtns(radioBtns, 'radio')
br
label toggle
+toggleSwitch('Получать спецпредложения', 'get')
br
label like button
+likeBtn(10)
br
label rate button
+rateBtns(second)
br
label rich checkbox button
+richCheckboxBtns(richCheckbox, 'richCheckBoxButtons')
br
label bullet list
+bulletList('bullets list', bullets)
br
label filled button
.filled-button
	+filledBtn('click me')
br
label border button
.border-button
	+borderBtn('click me')
br
label text button
+textBtn('click me')
br
label long button
+longBtn('click me')
br
label pagination
+pagination()
br
label range slider
+rangeSlider()
br
label comment
+comment('./assets/img/image.png', 'Мурад Сарафанов', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', 45)
br
label advantages
+advantages(advantages)

+calendar()
