mixin date(firstHeading, secondHeading)
	.date-dropdown
		.date-dropdown--item
			h3.date-dropdown--item-heading #{firstHeading}
			.date-dropdown--item-wrapper
				.date-dropdown--dropdown-result ДД.ММ.ГГГГ
				.date-dropdown--dropdown-arrow 
					i.material-icons.date-dropdown--dropdown-arrow-icon expand_more
		.date-dropdown--item
			h3.date-dropdown--item-heading #{secondHeading}
			.date-dropdown--item-wrapper
				.date-dropdown--dropdown-result ДД.ММ.ГГГГ
				.date-dropdown--dropdown-arrow 
					i.material-icons.date-dropdown--dropdown-arrow-icon expand_more
		+calendar()