mixin date()
	.date-dropdown
		.date-dropdown--wrapper
			.date-dropdown--dropdown-result ДД.ММ.ГГГГ
			.date-dropdown--dropdown-arrow 
				i.material-icons.date-dropdown--dropdown-arrow-icon expand_more