.date-dropdown {
    width: 320px;
    @include Montserrat();
    position: relative;
    display:flex;
    justify-content: space-between;
    @media screen and (min-width:768px) and (max-width:1199px) {
        font-size:12px;
    }
}

.date-dropdown--item-wrapper {
    position: relative;
    width:150px;    
    background: #fff;
}

.date-dropdown--dropdown-result {
    position: relative;
    height: 44px;
    line-height: 18px;
    padding: 11px 0px 13px 14px;
    color: $darkShade75;
    @include inputBorder();
}

.date-dropdown--dropdown-arrow {
    width: 44px;
    height: 44px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    line-height: 24px;
}
.date-dropdown--dropdown-arrow-icon{
    line-height: 44px;
    color:$darkShade75;
}