mixin date(firstHeading, secondHeading)
	.date-dropdown-wrapper
		.date-dropdown__field
			h3.date-dropdown__field-heading #{firstHeading}
			.date-dropdown__field-result
				.date-dropdown__result ДД.ММ.ГГГГ
				.date-dropdown__arrow 
					i.material-icons.date-dropdown__arrow-icon expand_more
		.date-dropdown__field
			h3.date-dropdown__field-heading #{secondHeading}
			.date-dropdown__field-result
				.date-dropdown__result ДД.ММ.ГГГГ
				.date-dropdown__arrow 
					i.material-icons.date-dropdown__arrow-icon expand_more
		+calendar()