mixin rangeSlider(text)
	.range
		.range-wrapper
			.range--description
				h3.range--description-text #{text}
				.range--description-values
					.range--description-values-lower 5 000 &#x20bd; 
					span -
					.range--description-values-higher 10 000 &#x20bd;
			.range--slider
				.slider--base
					.slider--left-btn
					.slider--base-hover
					.slider--right-btn