mixin pagination()
	.pagination
		.pagination__line
			.pagination__line-item.pagination__line-item__active
				p 1
			.pagination__line-item
				p 2
			.pagination__line-item
				p 3
			.pagination__line-item
				p ...
			.pagination__line-item
				p 15
			.pagination__line-item.pagination__arrow-icon
				i.material-icons arrow_forward
		.pagination__options
			p 1 – 12 из 100+ вариантов аренды