mixin pagination()
	.pagination
		.pagination--line
			.pagination--line-elem.pagination--line-elem-active
				p 1
			.pagination--line-elem
				p 2
			.pagination--line-elem
				p 3
			.pagination--line-elem
				p ...
			.pagination--line-elem
				p 15
			.pagination--line-elem.pagination--line-elem-arrow-icon
				i.material-icons arrow_forward
		.pagination--options
			p 1 – 12 из 100+ вариантов аренды