@import "./radioEl/radioEl";
.radio-wrapper {
    width: 220px;
    @media screen and(max-width:768px){
        width:100%;
    }
}

.radio__list{
    display: flex;
    justify-content: space-between;
}
.radio__item {
    @include flexVertCenter();
    margin-bottom: 10px;
    @media screen and(max-width:768px){
        margin-right: 10px;
    }
}