mixin subscrTextField(placeholder)
	.subscribe-field
		input.subscribe-field--input(type='text', placeholder=placeholder)
		.subscribe-field--arrow 
			i.material-icons.subscribe-field--arrow-icon arrow_forward