mixin subscrTextField(placeholder)
	.subscribe-field
		input.subscribe-field__input(type='text', placeholder=placeholder)
		.subscribe-field__arrow 
			i.material-icons.subscribe-field__arrow-icon arrow_forward