@import "./checkhField/checkField.scss";

.checkbox-btns-wrapper {
    width: auto;
}

.checkbox-btns{
    &__heading {
        text-transform: uppercase;
        font-family:Montserrat-Bold;
        margin-bottom: 9px;
    }
    &__list{
        padding-top:8px;
    }
    &__list-item {
        display: flex;
        margin-bottom: 11px;
        vertical-align: middle;
        line-height: 18px;
    }
    &__list-item {
        margin-bottom: 10px;
    }
    &__item-description {
        width: 192px;
        font-family: Montserrat;
        color: $darkShade50;
        @media screen and (max-width:899px) and (min-width:768px){
            font-size:12px;
        }
    }
}