include ./checkhField/checkField.pug

mixin checkBoxBtns(arr, checkFieldsName)
	.checkbox-btns-wrapper
		h3.checkbox-btns__heading checkbox buttons
		.checkbox-btns__list
			each el in arr
				.checkbox-btns__list-item
					+checkField(el.checkProps, checkFieldsName)
					.checkbox-btns__item-description
						p #{el.val}	