mixin advantages(arr)
	.advantages-wrapper
		-for(let i = 0; i < arr.length; i++)
			.advantages-item
				.advantages-item__image
					i.material-icons.advantages-item__image-icon #{arr[i].img}
				.advantages-item__description
					h3.description__heading #{arr[i].heading}
					p.description__text #{arr[i].text}
			-if(i != arr.length -1)
				hr.advantages-item__line