mixin bulletList(decription, arr)
	.bulletList
		.bulletList-wrapper
			.bulletList--description
				p #{decription}
			.bulletList--list
				each el in arr
					.bulletList--list-item
						.bulletList--list-item-marker
						.bulletList--list-item-description
							p #{el.text}