@import "./__active/__active.scss";

.checkField {
    width: 20px;
    height: 20px;
    background: #fff;
    @include flexAllCenter();
    @include inputBorder();
    margin-right: 10px;
    transition: all .1s linear;
    cursor: pointer;
    
    &__checked {
        opacity: 0;
        transition: all .1s linear;
        &__active {
            opacity: 1;
        }
    }
}