mixin dateFilter()
	.date-filter-dropdown
		.date-filter-dropdown--wrapper
			.date-filter-dropdown--dropdown-result ДД.ММ.ГГГГ
			.date-filter-dropdown--dropdown-arrow 
				i.material-icons.date-filter-dropdown--dropdown-arrow-icon expand_more	