.date-filter-dropdown {
    width: 266px;
    @include Montserrat();
    position: relative;
    background: #fff;
}

.date-filter-dropdown--wrapper {
    position: relative;
}

.date-filter-dropdown--dropdown-result {
    position: relative;
    height: 44px;
    padding: 13px 0px 13px 15px;
    color: $darkShade75;
    @include inputBorder();
}

.date-filter-dropdown--dropdown-arrow {
    width: 44px;
    height: 44px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    line-height: 24px;
}
.date-filter-dropdown--dropdown-arrow-icon{
    line-height: 44px;
    color:$darkShade75;
}