.date-filter-wrapper {
    width: auto;
    @include Montserrat();
    position: relative;
    background: #fff;
    @media screen and (min-width:768px) and (max-width:1199px) {
        font-size:12px;
    }
}
.date-filter{
    &__result {
        position: relative;
        height: 44px;
        padding: 8px 0px 13px 15px;
        color: $darkShade75;
        @include inputBorder();
    }
    &__arrow  {
        width: 44px;
        height: 44px;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        line-height: 24px;
        &-icon{
            line-height: 44px;
            color:$darkShade75;
        }
    }
}