mixin dropdown(count)
	.dropdown-wrapper
		.dropdown__input
			.dropdown__result Cколько гостей
			.dropdown__arrow 
				i.material-icons.dropdown__arrow-icon expand_more
		.dropdown__items
			- for (var i=1; i<=count;i++)
				.dropdown__item
					.dropdown__item-name #{arguments[i]}
					.dropdown-count
						.dropdown-count__minus 
							span -
						.dropdown-count__result 0
						.dropdown-count__plus 
							span +
			.dropdown__confirm
				+textBtn('применить',  'textBtn textBtn__purple')  
			.dropdown__clear
				+textBtn('очистить', 'textBtn') 