mixin comment(imgSrc, authorName, daysAgo, text, likeNum)
	.comment-wrapper
		.comment__author
			.comment__author-avatar
				img(src=imgSrc, alt="")
			.comment__author-like
				+likeBtn(likeNum)
		.comment__content
			.comment__content-author-data
				.comment__author-name
					p #{authorName}
				.comment__comment-date
					p #{daysAgo}
			.comment__content-text
				p #{text}