@font-face{
    font-family: 'Montserrat';
    src: url('../static/fonts/Montserrat-Regular.eot');
    src: url('../static/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/Montserrat-Regular.woff') format('woff'),
    url('../static/fonts/Montserrat-Regular.ttf') format('truetype'),
    url('../static/fonts/Montserrat-Regular.svg') format('svg');
    font-weight: 400;
    font-style:normal;
    font-stretch:normal;
}
@font-face{
    font-family: 'Montserrat-Bold';
    src: url('../static/fonts/Montserrat-Bold.eot');
    src: url('../static/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/Montserrat-Bold.woff') format('woff'),
    url('../static/fonts/Montserrat-Bold.ttf') format('truetype'),
    url('../static/fonts/Montserrat-Bold.svg') format('svg');
    font-weight: 700;
    font-style:normal;
    font-stretch:normal;
}
@font-face{
    font-family: 'Quicksand';
    src: url('../static/fonts/Quicksand-Bold.eot');
    src: url('../static/fonts/Quicksand-Bold.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/Quicksand-Bold.woff') format('woff'),
    url('../static/fonts/Quicksand-Bold.ttf') format('truetype'),
    url('../static/fonts/Quicksand-Bold.svg') format('svg');
    font-weight: bold;
    font-style:normal;
    font-stretch:normal;
}
@font-face{
    
    font-family: 'open_sansbold';
    src: url('../static/fonts/opensans-bold-webfont.eot');
    src: url('../static/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../static/fonts/opensans-bold-webfont.woff') format('woff'),
         url('../static/fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../static/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

