@import './variables';
@import './mixins.scss';

@import "../library/textInput/textInput";
@import "../library/dropdown/dropdown";
@import "../library/date/date";
@import "../library/radioBtns/radioBtns";
@import "../library/longBtn/longBtn";
@import "../library/toggleSwitch/toggleSwitch";
@import "../library/borderBtn/borderBtn";
@import "../library/calendar/calendar";
@import "../library/rateBtns/rateBtns";

body {
    background: #E5E5E5;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 1160px;
}

.find,
.reg,
.room-card {
    background: #fff;
    width: 380px;
    padding: 40px 30px 30px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.find-form {
    width: 320px;
}

.find-form--date,
.room-card-form--date {
    display: flex;
    justify-content: space-between;
    @include MB(20px);
}

.find-form--heading,
.reg-form--heading,
.room-card-form--header {
    line-height: 30px;
    @include MB(20px);
}

.find-form--date-label,
.find-form--guests-label,
.reg-form--birthDate-label,
.reg-form--enterData-label,
.room-card-form--date-label,
.room-card-form--guests-label {
    @include MontserratBold();
    text-transform: uppercase;
}

.find-form--guests {
    @include MB(30px);
}

.reg {
    @include MT(40px);
}

.input-text {
    @include MB(10px);
}

.reg-form--radio {
    @include MB(20px);
}

.reg-form--birthDate-label,
.reg-form--enterData-label {
    @include MontserratBold();
    text-transform: uppercase;
}

.input-masked {
    @include MB(20px);
}

.reg-form--toggleSwitch {
    @include MB(20px);
}

.reg-haveAnAcc {
    @include MT(30px);
    @include flexVertCenter();
    justify-content: space-between;
}

.room-card-form--header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.heading--num {
    font-size: 14px;
}

.heading--room-type {
    @include MontserratBold();
    color: $purple;
    text-transform: uppercase;
    letter-spacing: normal;
}

.room-card-form--header-price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.room-card-form--guests{
    @include MB(20px);
}
.header-price {
    color: $darkShade50;
    @include MontserratBold();
    font-size: 14px;
}

.priceList--item{
    display: flex;
    justify-content: space-between;
    @include MB(10px);
}
.priceList--total--line{
    border-bottom: 1px dotted $darkShade25;
    width:182px;
}
.priceList--total{
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    @include MB(20px);
}
.priceList--total--price{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 19px;
}
