@import './variables';
@import './mixins.scss';

@import "../library/textInput/textInput";
@import "../library/dropdown/dropdown";
@import "../library/date/date";
@import "../library/radioBtns/radioBtns";
@import "../library/longBtn/longBtn";
@import "../library/toggleSwitch/toggleSwitch";
@import "../library/borderBtn/borderBtn";
@import "../library/calendar/calendar";
@import "../library/rateBtns/rateBtns";

body {
    background: #E5E5E5;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin:auto;
}

.find,
.room-card,
.enter-form {
    background: #fff;
    width: 380px;
    padding: 40px 30px 30px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.find-form {
    width: 320px;
}

.find-form--date{
    display: flex;
    justify-content: space-between;
    @include MB(20px);
}

.find-form--heading,
.reg-form--heading{
    line-height: 30px;
    @include MB(20px);
}

.find-form--date-label,
.find-form--guests-label,
.reg-form--birthDate-label,
.reg-form--enterData-label,
.room-card-form--date-label,
.room-card-form--guests-label {
    @include MontserratBold();
    text-transform: uppercase;
}

.find-form--guests {
    @include MB(30px);
}



.input-text {
    @include MB(9px);
}

.reg{
    background: #fff;
    width: 380px;
    padding: 39px 30px 30px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.reg-form--radio {
    width:220px;
    @include MB(7px);
}
.reg-form--enterData{
    position: relative;
    top: -5px;
}
.reg-form--birthDate-label,
.reg-form--enterData-label {
    @include MontserratBold();
    text-transform: uppercase;
}

.input-masked {
    @include MB(20px);
}

.reg-form--toggleSwitch {
    @include MB(18px);
    position: relative;
    top: -6px;
}

.reg-haveAnAcc {
    @include MT(30px);
    @include flexVertCenter();
    justify-content: space-between;
}
.reg-haveAnAcc-button{
    width:99px;
    height:44px;
}

.room-card-form--header,.roomDescr--description-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.heading--num {
    font-size: 14px;
    @media screen and (max-width:1199px) and (min-width:900px){
        font-size: 12px;
    }
}

.heading--room-type {
    @include MontserratBold();
    color: $purple;
    text-transform: uppercase;
    letter-spacing: normal;
    @media screen and (max-width:1199px) and (min-width:900px){
        font-size: 10px;
    }
}
.room-card-form--header{
    @include MB(20px);
} 
.room-card-form--header-price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.room-card-form--date {
    @include MB(16px);
}
.room-card-form--guests{
    @include MB(17px);
}
.header-price {
    color: $darkShade50;
    @include MontserratBold();
    font-size: 14px;
}
.room-card-form--priceList{
    padding-top:3px;
}
.priceList--item{
    display: flex;
    justify-content: space-between;
    line-height: 18px;
    @include MB(16px);
}
.priceList--total--line{
    border-bottom: 1px dotted $darkShade25;
    width:182px;
}
.priceList--total{
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    @include MT(30px);
    @include MB(20px);
}
.priceList--total--price{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 19px;
}


.enter-form--header{
    @include MB(20px);
}
.enter-form--input-items{
    @include MB(20px);
}
.enter-noAcc{
    @include MT(30px);
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.enter-noAcc-button{
    width:99px;
    height:44px;
}
.roomDescr{
    width:auto;
    background:#fff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    
}
.roomDescr--slider{
    height:152px;
    position:relative;
    @media screen and (max-width:1399px) and (min-width:1200px){
        height:134px;
    }
    @media screen and (max-width:1199px) and (min-width:900px){
        height:112px;
    }
}
.roomDescr--slider-image img{
    width:100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.roomDescr--slider-controls{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
}
.roomDescr--slider-controls-left, 
.roomDescr--slider-controls-right{
    width:42px;
    height:100%;
    @include flexAllCenter();
    cursor:pointer;
    opacity:0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    transition: all .1s linear;
    &:hover{
        opacity:1;
    }
}
.roomDescr--slider-controls-right{
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
}
.roomDescr--slider-controls-left-arrow{
    transform:rotate(90deg);
}
.roomDescr--slider-controls-right-arrow{
    transform:rotate(-90deg);
}
.roomDescr--slider-dots{
    width:42px;
    position:absolute;
    bottom:15px;
    right:15px;
    display:flex;
    justify-content: space-between;
}
.roomDescr--slider-dots-dot{
    width:7.5px;
    height:7.5px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    background:rgba(0, 0, 0, 0.05);
    transition:all .1s linear;
}
.roomDescr--slider-dots-dot--active{
    background:white;
}
.roomDescr--description{
    padding:20px;
    @media screen and (max-width:1399px) and (min-width:1200px){
        padding: 0 10px 10px;
    }
    @media screen and (max-width:1199px) and (min-width:900px){
        padding: 10px;
    }
    &-header-heading{
        @media screen and (max-width:1199px) and (min-width:900px){
            font-size:16px;
        } 
    }
}
.roomDescr--description-price{
    display:flex;
}
.roomDescr--description-price, .roomDescr--rate{

    color: rgba(31, 32, 65, 0.5);
}
.roomDescr--description-price-num, .roomDescr--rate-feedback-num{
    font-family:Montserrat-Bold;
    font-size:14px;
    @media screen and (max-width:1199px) and (min-width:900px){
        font-size:12px;
    }
}
.roomDescr--description-price-perDay{
    font-size:12px;
    @media screen and (max-width:1199px) and (min-width:900px){
        font-size:10px;
    }
}
.roomDescr--divider{
    margin:7px 0px;
}
.roomDescr--rate{
    display:flex;
    justify-content: space-between;
    align-items: center;
}