@import './variables';
@import './mixins.scss';

.header{
    background:#fff;
    width:100%;
    padding:15px 140px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    color:$darkShade50;
    &-content{
        display: flex;
        justify-content:space-between;
        align-items: center;
        flex-grow:.304;
        &-mobile{
            display:none;
            @media screen and (max-width:768px) {
                display:block;
            }
        }
        @media screen and (max-width:768px) {
            display:none;
        }
    }
    &--login-button{
        width: auto;
        height:34px;
    }
    &--register-button{
        width: auto;
        height:34px;
    }
    &--vert-line{
        width: 1px;
        height: 30px;
        background: rgba(31, 32, 65, 0.1);
    }
    @media screen and (min-width:1200px) and (max-width:1439px) {
        padding:15px 110px;
    }
    @media screen and (min-width:900px) and (max-width:1199px) {
        padding:15px 60px;
    }
    @media screen and (min-width:768px) and (max-width:899px) {
        padding:10px 10px;
    }
    @media screen and (max-width:768px) {
        padding:5px 10px;
    }
}
.logo-full{
    display: flex;
    align-items: center;
    @media screen and (min-width:768px) and (max-width:899px) {
        width:70%;
    }
}
.header-nav{
    @include Montserrat();
    display:flex;
    align-items: center;
    flex-grow: .67;
    @media screen and (min-width:768px) and (max-width:1199px) {
        font-size:12px;
    }
    
    &--list{
        width:100%;
        display:flex;
        justify-content:space-between;
        align-items: center;
    }&--list-item{
        list-style:none;
        display:flex;
        align-items: center;
    }
    &--list-item a{
        text-decoration: none;
        color:$darkShade50;
        transition:all .1s linear;
        &:hover{
            color:$darkShade75;
            font-weight:900;
        }
    }
    
}
.footer{
    background:#fff;
    width:100%;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    color:$darkShade50;
    
    &-siteDescr{
        width:260px;
        margin-right: 40px;
        @media screen and (min-width:1200px) and (max-width:1439px) {
            width:200px;
            margin-right: 20px;
        }
        @media screen and (min-width:900px) and (max-width:1199px) {
            width:200px;
            margin-right: 26px;
        }
        @media screen and (min-width:768px) and (max-width:899px) {
            width: 150px;
            font-size: 10px;
            margin-right: 10px;
        }
        @media screen and (max-width:768px) {
            margin-right: 0px;
            margin:auto;
        }
        &-logo{
            @include MB(17px);
        }
        &-description{
            color:$darkShade75;
            @media screen and (max-width:768px) {
                display:none;
            }
        }
    }

    &-menu{
        display: flex;
        justify-content:space-between;
        flex-grow:1;
        margin-right:52px;
        @media screen and (min-width:1660px) {
            flex-grow:.6;
        }
        @media screen and (min-width:1200px) and (max-width:1439px) {
            margin-right: 20px;
            flex-grow:.6;            
        }
        @media screen and (min-width:900px) and (max-width:1199px) {
            margin-right: 40px;         
        }
        @media screen and (min-width:768px) and (max-width:899px) {
            margin-right: 10px;      
        }
        @media screen and (max-width:768px) {
            display:none;
        }
        &-column{
            padding-top: 4px;
        }
        &-column:nth-child(1){
            margin-right: -35px;
        }
        &-column--heading{
            line-height: 15px;
        }
        &-column--list-item{
            list-style: none;
            line-height:18px;
            @include MT(20px);
        }
        &-column--list-item a{
            text-decoration: none;
            text-transform: none;
            color:$darkShade50;
        }
    }
    &-subscribe{
        width:260px;
        padding-top: 4px;
        @media screen and (min-width:1200px) and (max-width:1439px) {
            width:200px;
        }
        @media screen and (min-width:900px) and (max-width:1199px) {
            width:200px;
        }
        @media screen and (min-width:768px) and (max-width:899px) {
            width:150px;
            font-size: 10px;
        }
        @media screen and (max-width:768px) {
            margin:auto;
        }
        &--heading{
            line-height: 15px;
            @include MB(17px);
            @media screen and (max-width:768px) {
                display:none;
            }
        }
        &-field{
            width:260px;
            @media screen and (min-width:1200px) and (max-width:1439px) {
                width:200px;
            }
            @media screen and (min-width:900px) and (max-width:1199px) {
                width:200px;
            }
            @media screen and (min-width:768px) and (max-width:899px) {
                width:150px;
            }
        }
        &--text{
            color:$darkShade75;
            line-height: 24px;
            @include MB(22px);
        }
    }
    &-nav{
        height: 372px;
        padding:100px 140px;
        display:flex;
        border-top:1px solid #E5E5E5;
        border-bottom:1px solid #E5E5E5;
        justify-content:space-between;        
        @media screen and (min-width:1200px) and (max-width:1439px) {
            padding:100px 110px;
            height: 320px;
        }
        @media screen and (min-width:900px) and (max-width:1199px) {
            padding:50px 60px;
            height: 270px;
        }
        @media screen and (min-width:768px) and (max-width:899px) {
            height: 240px;
            padding: 25px 35px;
        }
        @media screen and (max-width:768px) {
            flex-direction: column;
            padding: 25px 35px;
            height: 230px;
        }
    }
    
}
.footer-copyright{
    padding:25px 140px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    @media screen and (min-width:1200px) and (max-width:1439px) {
        padding:25px 80px;
    }
    @media screen and (min-width:768px) and (max-width:899px) {
        padding: 25px 35px;
    }
    @media screen and (max-width:768px) {
        flex-direction: column;
    }
    &--text{
        color:$darkShade75;
        height:18px;
        line-height: 17px;
        @media screen and (max-width:768px) {
            height:50px;
        }
    }
    &--social{
        display:flex;
        justify-content:space-between;
        align-items: center;
        flex-grow:.06;
        &-icon{
            height:24px;
        }
    }
    @media screen and (min-width:1200px) and (max-width:1439px) {
        padding:15px 110px;
    }
    @media screen and (min-width:900px) and (max-width:1199px) {
        padding:15px 60px;
    }
}
.footerNew{
    background:#fff;
    width:100%;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    color:$darkShade50;
    padding:100px 440px 110px;
    display: flex;
    flex-direction: column;
    align-items:center;
    &-logo{
        @include MB(20px);
    }
    &-description{
        height: 48px;
        line-height: 24px;
        text-align: center;
        @include MB(25px);
    }
    &-socials{
        width:112px;
        display:flex;
        justify-content:space-between;
    }
}