@mixin Montserrat() {
    font-family: 'Montserrat';
    font-size:14px;
    @media screen and (min-width:900px) and (max-width:1439px) {
        font-size: 12px;
    }
}
@mixin MontserratBold(){
    font-family: 'Montserrat-Bold';
    font-size:12px;
    @media screen and (min-width:1000px) and (max-width:1439px) {
        font-size: 9px;
    }
}
@mixin inputBorder(){
    border:1px solid $darkShade25;
    border-radius:4px;
}
@mixin inputBorderFocus(){
    border:1px solid $darkShade50;
}
@mixin cursorAndTransition(){
    cursor:pointer;
    transition: all .1s linear;
}
@mixin flexAllCenter(){
    display:flex;
    justify-content: center;
    align-items:center; 
}
@mixin flexVertCenter(){
    display:flex;
    align-items:center; 
}
@mixin MB($num) {
    margin-bottom:$num;
}
@mixin MT($num) {
    margin-top:$num;
}
@mixin placeholder {
    &::-webkit-input-placeholder{@content}
    &:-moz-placeholder{@content}
    &::-moz-placeholder{@content}
    &:-ms-input-placeholder{@content}  
  }