@import './_fonts';
@import './variables';
@import './mixins.scss';



*, *:before, *:after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color:$darkShade75;
}
h1{
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color:$darkShade;
    letter-spacing: -.75px;
}
h2{
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    font-size: 19px;
    letter-spacing: 0px;
    color:$darkShade;
}
h3{
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 12px;
    color:$darkShade;
    text-transform: uppercase;
}
