$headingColor:#ffcc00;

h1{
    color:$headingColor;
    background: #ccff00;
    transition: all .1s linear;
    box-sizing: border-box;
}
body{
    background: url('../img/20141122_012053.jpg');
    background-size: 100px;
}
p{
    color:red;
    width:1000px;
}