@import './_fonts';
@import './variables';
@import './mixins.scss';



*, *:before, *:after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color:$darkShade75;
    overflow-x:hidden;
    @media screen and (min-width:1200px) and (max-width:1439px) {
        font-size: 13px;
    }
    @media screen and (min-width:768px) and (max-width:1199px) {
        font-size: 10px;
    }
}
h1{
    font-family: Quicksand,'Open Sans', sans-serifl;
    font-weight: normal;
    font-size: 24px;
    color:$darkShade;
    @media screen and (min-width:1200px) and (max-width:1439px) {
        font-size: 22px;
    }
    @media screen and (max-width:1199px) {
        font-size: 18px;
    }
}
h2{
    font-family: Quicksand, 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 19px;
    color:$darkShade;
    @media screen and (min-width:1200px) and (max-width:1439px) {
        font-size: 17px;
    }
}
h3{
    font-family: Montserrat-Bold, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin-bottom:5px;
    color:$darkShade;
    text-transform: uppercase;
    @media screen and (min-width:1200px) and (max-width:1439px) {
        font-size: 11px;
    }
    @media screen and (min-width:768px) and (max-width:1199px) {
        font-size: 10px;
    }
}
