@import './variables';
@import './mixins.scss';

.searchRoom-header{
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    position:relative;
    z-index: 10;
    width:100%;
}
.searchRoom-overlay{
    width: 100%;
    position:absolute;
    z-index: 11;
    background:rgb(0,0,0);
    opacity:.0;
    display:none;
    transition:all .1s linear;
    &-close{
        color:#fff;
        font-size: 20px;
        cursor: pointer;
        text-align: right;
        padding:20px;
    }
    &-active{
        opacity:.5;
    }
}
.main-content{
    background:#fff;
    width:100%;
    padding: 30px 190px 70px;
    display:flex;
    justify-content: space-around;
    &-sidebar{
        width:266px;
        @media screen and (max-width:1199px) and (min-width:900px){
            width:190px;
        }
        @media screen and (max-width:899px){
            width: 297px;
            position: absolute;
            left: -100%;
            top:0;
            z-index: 12;
            background: #fff;
            padding: 20px;
            transition:all .1s linear;
            &-active{
                left: 0;
            }
        }
        @media screen and (max-width:767px) {
            
        }
        &--dateFilter{
            @include MB(20px);
        }
        &--dropdownList-guests{
            @include MB(32px);
        }
        &--dropdownList-comfort{
            @include MB(16px);
        }
        
        &--checkBoxBtns{
            @include MB(32px);
        }
        &--richCheckbox{
            @include MB(29px);
        }
        &--range-description{
            font-size: 12px;
            line-height: 14px;
        }
        &--range-slider{
            margin-bottom: 15px;
        }
        &--range{
            @include MB(28px);
        }
    
    }
    @media screen and (max-width:1599px) and (min-width:1200px){
        justify-content: space-between;
        padding: 30px 140px 70px;
    }
    @media screen and (max-width:1399px) and (min-width:1200px){
        padding: 30px 80px 70px;
    }
    @media screen and (max-width:1199px) and (min-width:900px){
        padding: 30px 30px 70px;
    }
    @media screen and (max-width:899px) and (min-width:768px){
        padding: 30px 10px 70px;
    }
    @media screen and (max-width:767px) {
        padding: 30px 60px 70px;
    }
    &-main{
        width:900px;
        padding-top: 3px;
        @media screen and (max-width:1599px) and (min-width:1400px){
            width:834px;
        }
        @media screen and (max-width:1399px) and (min-width:1200px){
            width:72%;
        }
        @media screen and (max-width:1199px) and (min-width:900px){
            width:75%;
        }
        @media screen and (max-width:899px) and (min-width:768px){
            width:100%;
        }
        &--heading{
            display:flex;
            justify-content:space-between;
            @include MB(23px);
            &-filter{
                display:none;
                cursor:pointer;
                @media screen and (max-width:899px){
                    display:block;
                }
            }
        }
        &--rooms-line{
            display:flex;
            justify-content: space-between;
            @include MB(20px);
            @media screen and (max-width:767px) {
                flex-direction: column;
                @include MB(10px);
            }
            &-item{
                width:271px;
                @media screen and (max-width:1399px) and (min-width:1200px){
                    width:240px;
                }
                @media screen and (max-width:1199px) and (min-width:900px){
                    width:200px;
                }
                @media screen and (max-width:899px) and (min-width:768px){
                    width:230px;
                }
                @media screen and (max-width:767px) {
                    width:100%;
                }
            }
        }
        &--rooms{
            @include MB(40px);
        }
        &--pagination{
            display:flex;
            justify-content: center;
        }
        
    }
}