mixin toggleSwitch(descr, id)
	.toggle-switch
		.toggle-switch-wrapper
			input(type="checkbox", id=id, style="display:none;")
			label.toggle-switch__switchWrapper(for=id)
				.toggle-switch__switch
			.toggle-switch__description 
				p #{descr}