mixin toggleSwitch(descr, id)
	.toggle-switch
		.toggle-switch-wrapper
			input(type="checkbox", id=id, style="display:none;")
			label.toggle-switch--switchWrapper(for=id)
				.switchWrapper-switch
			.toggle-switch--description 
				p #{descr}